<!DOCTYPE html>
<html lang="en">
 
 <%- include('../partials/header.ejs') %>

<body class="animsition">
	
	<!-- Header -->
  <%- include('../partials/navbar.ejs') %>

	
	<!-- Product -->
  <%- include('../partials/product.ejs',{products : products}) %>
		

	<!-- Footer -->
  <%- include('../partials/footer.ejs') %>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>
   
  <!-- toaster msg  -->
   <%- include('../partials/msg.ejs') %>

  <!-- script tags -->
	<%- include('../partials/script.ejs') %>
    
</body>
</html>