<!DOCTYPE html>
<html lang="en">
 
<%- include('../partials/header.ejs') %>

<body class="animsition">


	<!-- Header -->
  <%- include('../partials/navbar.ejs') %>



	<!-- breadcrumb -->
	<div class="container">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="/" class="stext-109 cl8 hov-cl1 trans-04">
				Home
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				Shoping Cart
			</span>
		</div>
	</div>
		

	<form action="/payment" method="get" class="bg0 p-t-75 p-b-85">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4 text-center">Quantity</th>
									<th class="column-5 text-center">Total</th>
								</tr>
	
								<% if (products.length > 0 && cart) { %>
									<% products.forEach(item => { %>
										<tr class="table_row">
											<td class="column-1">
												<div class="how-itemcart1">
													
													  <img src="<%= item.products.images[0]?.url %>" alt="<%= item.products.name %>" class="img">
											
													<a href="/deleteCartItem/<%= item.products._id %>" class="fa fa-solid fa-trash"></a>
												</div>
											</td>
											<td class="column-2 text-uppercase"><%= item.products.name %></td>
											<td class="column-3">$<%= item.products.price %></td>
											<td class="column-4">
												<div class="wrap-num-product flex-w m-l-auto m-r-0">
													<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m minus-btn" data-product-id="<%= item.products._id %>">
														<i class="fs-16 zmdi zmdi-minus"></i>
													</div>
	
													<input class="mtext-104 cl3 txt-center num-product" type="number" name="quantity" value="<%= item.quantity %>" id="quantity-<%= item.products._id %>" required>
	
													<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m plus-btn" data-product-id="<%= item.products._id %>">
														<i class="fs-16 zmdi zmdi-plus"></i>
													</div>
												</div>
											</td>
											<td class="column-5" id="subtotal-<%= item.products._id %>">$<%= item.subTotal.toFixed(2) %></td>
										</tr>
									<% }) %>
								<% } %>
							</table>
						</div>
					</div>
				</div>
	
				<!-- Coupon and Cart Totals Section -->
				<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
					<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
						<h4 class="mtext-109 cl2 p-b-30">
							Cart Totals
						</h4>
				
						<!-- Total Price Section -->
						<div class="flex-w flex-t p-t-27 p-b-33">
							<div class="size-208">
								<span class="mtext-101 cl2">
									Total:
								</span>
							</div>
							<div class="size-209 p-t-1">
								<span class="mtext-110 cl2" id="total-price">
									$<%= totalPrice.toFixed(2) %>
								</span>
							</div>
						</div>
	
						<button type="submit" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 trans-04 pointer">
							Proceed to Checkout
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	
	
		

	<!-- Footer -->
  <%- include('../partials/footer.ejs') %>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

  <!-- script tags -->
	<%- include('../partials/script.ejs') %>

	<!-- trash jquery is in the file main.js & in the line of 281  -->
  <script>
		$('.fa.fa-solid.fa-trash').hide();
		$('.img').click((e) => { 
			e.preventDefault();
			
			$('.fa.fa-solid.fa-trash').slideToggle('fast').css({
				'position' : 'absolute',
				 'top' : '90px',
				 'right' : '23px',
				'color' : 'black'
			});
		});	

		$(document).ready(function () {
		
    // Event delegation for minus button
    $(document).on('click', '.minus-btn', function (e) {
			e.preventDefault()
        let productId = $(this).data('product-id');
        let quantityInput = $(`#quantity-${productId}`);
        let quantity = parseInt(quantityInput.val());

        if (quantity > 1) {
            quantity--;
            quantityInput.val(quantity);
            updateQuantityInDatabase(productId, quantity);
        }
    });

    // Event delegation for plus button
    $(document).on('click', '.plus-btn', function (e) {
			e.preventDefault()
        let productId = $(this).data('product-id');
        let quantityInput = $(`#quantity-${productId}`);
        let quantity = parseInt(quantityInput.val());

        quantity++;
        quantityInput.val(quantity);
        updateQuantityInDatabase(productId, quantity);
    });
		
		function updateQuantityInDatabase(productId, quantity) {
				$.ajax({
						url: '/cart/update-quantity',
						method: 'POST',
						data: { productId, quantity },
						success: function (response) {
								if (response.success) {
										console.log('Quantity updated successfully:', response);
		
										// Update the item's subtotal in the UI
										$(`#subtotal-${productId}`).text(`$${response.itemSubtotal.toFixed(2)}`);
		
										// Update the total cart price in the UI
										$('#total-price').text(`$${response.totalPrice.toFixed(2)}`);
		
										// Update the displayed total price in the specified span
										$('.mtext-110.cl2').text(`$${response.totalPrice.toFixed(2)}`);

									
								} else {
										console.error('Error updating quantity:', response.message);
								}
						},
						error: function (err) {
								console.error('Error updating quantity:', err);
								// Show an error message to the user
						}
				});
		};

});

	</script>


</body>
</html>